*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'helvetica';
    font-family: helvetica;
    font-size: 16px;
    line-height: 24px;
    color: #333;
}
.rojo{
    color: #f54259;
}
.ancho{
    max-width: 1200px;
    margin: auto;
    /* border: 1px red solid; */
}
.titulo_seccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px 0px;
}
.titulo_seccion h1{
    line-height: 32px;
    font-weight: lighter;
}
.negrita{
    font-weight: bold;
}
.titulo_seccion hr{
    width: 50px;
    border: 1px  #f54259 solid;
}

.contenedor_cards_portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    width: 390px;
    height: 390px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
}
.card1{
    background-image: url(imagenes/foto1.jpg);
}
.card2{
    background-image: url(imagenes/foto2.jpg);
    width: 795px;
}
.card3{
    background-image: url(imagenes/foto3.jpg);
}
.card4{
    background-image: url(imagenes/foto4.jpg);
}
.card5{
    background-image: url(imagenes/foto5.jpg);
}
.card6{
    background-image: url(imagenes/foto6.jpg);
    width: 795px;
}
.card7{
    background-image: url(imagenes/foto7.jpg);
}
.contenido_card1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, .8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    transition: all 1s;
}
.card:hover .contenido_card1{
    top: 0%;
}
.contenido_card1 p{
    margin: 5px 0px;
}
.circulo{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #f54259;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.circulo i{
    color: white;
    font-size: 20px;
    transform: rotate(0deg);
    transition: all 1s;
}
.circulo:hover i{
    transform: rotate(360deg);
}

.team{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card_team{
    width: 280px;
    margin-bottom: 30px;
}
.card_team picture{
    width: max-content;
}
.card_team picture img{
    width: 100%;
    filter: grayscale(100%);
    transition: all .5s;
}
.card_team:hover picture img{
    filter: grayscale(0%);
}
.card_team hr{
    border: .5px #d6d6d6 solid;
    margin: 15px 0px;
}
.info_team{
    text-align: center;
    color: #929292;
    margin: 20px 0px;
}
.nombre_team{
    font-weight: bold;
    color: #333;
    font-size: 18px;
}
.redes_team a{
    display: inline-block;
    text-decoration: none;
    color: #929292;
    padding: 0px 8px;
    transform: scale(1);
    transition: all .5s;
}
.redes_team a:hover{
    color: #f54259;
    transform: scale(1.5);
}

main{
    background-color: #f7f7f7;
}
.planes_precios{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card_planprecio{
    background-color: white;
    border-radius: 8px;
    width: 380px;
    text-align: center;
    padding: 40px 50px;
    margin-bottom: 30px;
    transform: scale(1);
    transition: all .5s;
}
.card_planprecio:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 10px #ccc;
}
.card_planprecio i{
    color: #d6d6d6;
    font-size: 50px;
    margin-bottom: 20px;
}
.card_planprecio hr{
    border: .5px #d6d6d6 solid;
}
.aux1{
    margin: 40px 0px;
}
.aux2{
    margin: 40px 0px 20px 0px;
}
.grande{
    font-size: 45px;
}
.card_planprecio p sup{
    font-size: 18px;
}
.info_plan{
    color: #929292;
    line-height: 40px;
}
.btn_plan{
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: #333;
    border: 2px #333 solid;
    padding: 10px 25px;
    margin-top: 30px;
    transition: all .5s;
}
.btn_plan:hover{
    background-color: #333;
    color: white;
}


.contenedor_news{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card_new{
    width: 380px;
    color: #929292;
    box-shadow: 0px 0px 10px #ccc;
    text-align: left;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.card_new figure{
    width: 100%;
    height: fit-content;
    overflow: hidden;
}
.card_new figure img{
    width: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all 1s;
}
.card_new:hover img{
    transform: scale(1.2);
}


.info_new{
    margin: 30px 30px;
}
.info_new hr{
    border: .5px #d6d6d6 solid;
    margin: 20px 0px;
}
.titulo_new{
    color: #333;
    font-size: 20px;
}
.autor_new{
    font-size: 14px;
    margin-top: 5px;
}
.card_new a{
    display: inline-block;
    color: #929292;
    margin: 0px 30px;
    transition: all .5s;
}
.card_new a:hover{
    color: #333;
}
.card_new:hover .aux3{
    color: #f54259;
}
